<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="jumbotron">
            <h3>Selamat Datang</h3>
            <p>Ini adalah halaman administrator</p>
            <?php echo $this->Html->link('Logout', ['action'=>'logout'], ['class'=>'btn btn-info']) ?>
        </div>
    </div>
</div>